---
layout: default
comments: false
---

<header class="header-about">
      <div class="col-xs-12 col-md-8 about-photo"></div>
      <div class="col-xs-12 col-md-4 about-aside">
        <h2>DIEGO MALDONADO</h2>
        <hr>
        <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <p>Soy un <del>Nerd rehabilitado</del> Desarrollador IOS con una visión y formación de negocios.</p>
          <p>Soy un profesional orientado a resultados, ágil y emprendedor. Siempre expectante de identificar necesidades, resolver nuevos desafíos y sobre todo de conocer gente interesante en el proceso.</p>
        </div>
      </div>
    </header>

    <about>
      <div class="container-fluid">
        <div class="about-me">
          <!-- <h2>HACER UNA EXCELENTE PREMISA = PROPUESTA UNICA DE VALOR </h2> -->
          <h2>ABOUT ME:</h2>
          <p>Hace años que opero en el sector del marketing digital. Actualmente ocupo el cargo de Director del área Mobile en una increible agencia internacional que es parte del grupo WPP.</p>
          <p>I realized that I enjoy analyzing and problem-solving, but it’s important that I have the ability to work with and help others and to create, develop, and implement ideas and solutions.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      {% include calendar.html %}
      <div class="container-fluid">
        <div class="cv">
          <h2>Algún titulo aquí</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </about>
