---
layout: default
comments: false
---

<header class="header-about">
      <div class="col-xs-12 col-md-8 about-photo"></div>
      <div class="col-xs-12 col-md-4 about-aside">
        <h2>DIEGO MALDONADO</h2>
        <hr>
        <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <p>Hola!, soy Diego, un Desarrollador IOS con una visión y formación de negocios.</p>
          <p>Soy un profesional orientado a resultados, ágil y emprendedor. Siempre expectante de identificar necesidades, resolver nuevos desafíos y sobre todo de conocer gente interesante en el proceso.</p>
        </div>
      </div>
    </header>

    <about>
      <div class="container-fluid">
        <div class="about-me">
          <h2>ABOUT ME:</h2>
          <p>Hace años que opero en el sector del marketing digital, y actualmente ocupo el cargo de Director del área Mobile en una increible agencia internacional que es parte del grupo <a href="https://en.wikipedia.org/wiki/WPP_plc">WPP</a>.</p>
          <p>Trabajo, ejecuto, hablo (y a veces bloggueo) sobre todo lo relacionado al mundo Mobile; pricipalmente lo referente al ecosistema propuesto por Apple.</p>
          <p>Actualmente, tengo disponibilidad en mi agenda, por eso independientemente de tu presupuesto, necesidades, o ubicación, te pido me contactes y veamos si podemos resolver algo juntos. Seguro va a ser genial.</p>
          <p>Este emprendimiento, para mí, se trata de variedad, de conocer gente nueva e interesante, divertirme, trabajar en productos de calidad, y en obtener nuevas experiencias.</p>
        </div>
      </div>
      {% include calendar.html %}
      <div class="container-fluid">
        <div class="cv">
          <h2>Algún titulo aquí</h2>
          <p>Hace años que opero en el sector del marketing digital, y actualmente ocupo el cargo de Director del área Mobile en una increible agencia internacional que es parte del grupo <a href="https://en.wikipedia.org/wiki/WPP_plc">WPP</a>.</p>
        </div>
      </div>
    </about>
