<contact>
      <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
          <img src="{{ site.avatar }}" alt="" class="center-block img-circle">
          <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <h2>Me encanta conocer gente nueva</h2>
            <p>Mi nombre es Diego, y soy un analista de mercados que vive en Córdoba, Argentina. Me especializo en proyectos Mobile donde el usuario y la estrategia sean de suma importancia. Mis principales intereses involucran analizar tendencias, identificar Micro-Momentos, desarrollar aplicaciones nativas en IOS y ayudar a que las marcas aumenten su relevancia digital. Podés contactame en las siguientes redes sociales o escribime un correo a: <a href="mailto:diegojmaldonado@gmail.com?Subject=Hello%20Diego" target="_top">diegojmaldonado@gmail.com</a></p>
            <div class="social-buttons">
              <span class="twitter-button">
                <a href="https://twitter.com/diegojmaldonado">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </span>
              <span class="github-button">
                <a href="https://github.com/diegojmaldonado">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-stack-2x"></i>
                    <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </span>
              <span class="linkedin-button">
                <a href="https://www.linkedin.com/in/diegojmaldonado">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
</contact>
