<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ root }}/"><img class="brand-logo" src="{{ root }}/img/assets/logo.png"></img></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ root }}/">Inicio</a>
                    </li>
                    <li>
                        <a href="{{ root }}/">Marketing</a>
                        <!-- <a href="{{ root }}/marketing">Marketing</a> -->
                    </li>
                    <li>
                        <a href="{{ root }}/">Desarrollo</a>
                        <!-- <a href="{{ root }}/desarrollo">Desarrollo</a> -->
                    </li>
                    <li>
                        <a href="{{ root }}/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
